@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  font-family: "poppins";
}

/*header start*/
.header {
  display: flex;
  flex-direction: row;
  padding: 0 5vw 0 5vw;
  font-family: poppins;
  margin-bottom: 5vh;
  min-height: 10vh;
  background-color: #ecf4fe;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
}
.logo h3 {
  font-weight: bold;
  font-size: 35px;
  color: #29a3da;
}
.sp-color {
  color: #1a3447;
}
.bt {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  justify-content: flex-end;
}
.bt p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-right: 20px;
}
.bt a {
  padding: 15px 30px;
  background: linear-gradient(180deg, #20b4ce 0%, #1a7aaa 100%);
  border-radius: 7px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}
/*header end*/

.container {
  display: flex;
  flex-direction: row;
  padding: 0 10vw 0vw 10vw;
  height: 84vh;
}
.image {
  flex-basis: 50%;
  margin-right: 5vw;
}
#image-img {
  width: 100%;
  height: 100%;
}
.img-title {
  position: absolute;
  width: 33%;
  top: 22%;
  display: flex;
  flex-direction: column;
  right: 56%;
  font-family: "Poppins";
  font-style: normal;
}
.im-title1 {
  font-weight: 700;
  font-size: 64px;
  color: #1a3447;
  line-height: 110%;
  margin-bottom: 2vh;
}
.im-title2 {
  color: #29a3da;
}
.im-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 2vh;
}
.im-txt {
  display: flex;
  align-items: center;
}
.im {
  margin-right: -3%;
}
.im img {
  margin-right: -8%;
}
.txt {
}
.login-form {
  font-family: poppins;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #1a3447;
  margin-bottom: 5vh;
}
.grp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 3vh;
}
.input {
  padding: 10px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #1a3447;
  border-radius: 5px;
  font-size: 15px;
}
.placeholder {
  position: absolute;
  top: -10px;
  left: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 0px 5px;
  color: #1a3447;
  transition: 0.3s;
  pointer-events: none;
  background-color: #fff;
  border-radius: 5px;
}
select {
  appearance: none;
  color: #9c9c9c;
  font-size: 15px;
}
.opcolor {
  color: #1a3447;
}
.fa-solid,
.fas {
  right: 10%;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 38%;
}
.fa-eye {
}
.fa-eye-slash {
  color: #c4c4c4;
}
#hide1 {
  display: none;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  height: 67px;
  background: linear-gradient(180deg, #20b4ce 0%, #1a7aaa 100%);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  margin-bottom: 2vh;
}
.cl {
  color: #29a3da;
}
.row {
  font-size: 14px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}
.row a {
  text-decoration: none;
  color: #1a3447;
}
.fsize {
  color: #1a3447;
  text-align: center;
  margin-bottom: 2vh;
}
.fsize a {
  font-weight: 600;
  text-decoration: none;
  color: #1a3447;
}
.or {
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.line {
  height: 1%;
  width: 40%;
  display: inline-block;
  background: #c4c4c4;
}
.glink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #464646;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 1700px) {
  .im-title1 {
    font-size: 48px;
  }
  .im-txt {
    flex-wrap: wrap;
  }
}

@media (max-width: 1350px) {
  .im-title1 {
    font-size: 40px;
  }
  .im-p {
    font-size: 14px;
  }
  .txt {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .bt a {
    font-size: 14px;
    padding: 10px 20px;
  }
  .bt p {
    font-size: 12px;
  }
  .image {
    flex-basis: 0%;
  }
  .image img {
    display: none;
  }
  .login-form {
    align-items: center;
    flex-basis: 100%;
  }
  .title {
    font-size: 25px;
    margin-bottom: 5vh;
  }
  .grp {
    width: 60%;
  }
  .input-group {
    margin-bottom: 5vh;
  }
  .placeholder {
    font-size: 13.5px;
  }
  .h {
    font-size: 14px;
  }
  .submit {
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-bottom: 5vh;
  }
  .glink {
    font-size: 15px;
  }
  .img-title {
    display: none;
  }
}

@media (max-width: 580px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vh;
  }
  .logo {
    margin-bottom: 3vh;
  }
  .logo h3 {
    font-weight: bold;
    font-size: 20px;
    color: #29a3da;
  }
  .bt p {
    font-size: 12px;
  }
  .bt a {
    font-size: 11px;
    padding: 3px 10px;
  }
  .image {
    flex-basis: 0%;
  }
  .image img {
    display: none;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
  }
  .grp {
    margin-bottom: 0vh;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  .input-group {
    width: 100%;
  }
  .placeholder {
    font-size: 15px;
  }
  .h {
    font-size: 15px;
    top: 20px;
  }
  .submit {
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 5vh;
  }
  .row {
    font-size: 12px;
    margin-top: -3vh;
    flex-flow: inherit;
  }
  .row-left {
    margin-bottom: 2vh;
  }
  .cl {
    height: 11px;
  }
  .fsize {
    font-size: 12px;
  }
  .or {
    font-size: 12px;
  }
  .glink {
    font-size: 13px;
  }
}
