.foy-see-more{
    text-decoration: none;
}
.foy-create-button{
    padding: 10px;
    border-radius: 5px;
    background: #29A3DA;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.input.error input {
    border: 1px solid #fa1515;
  }
  .error-msg {
    color: red;
    font-family: "Poppins";
    font-size: 14px;
  }
  .alert {
    padding: 15px;
    background-color: #fb6a5f;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.foy-dactive{
    background: #ecf4fe;
}
.foy-dactive:hover{
    background: #ecf4fe !important;
    color: #212529;
}
.foy-profile-name a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.foy-profile-name a:hover{
    color: green;
}
.foy-nav-item{
    background:  #FFFFFF;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(41, 163, 218, 0.1);
    border-top: 1px solid rgba(41, 163, 218, 0.1);
    filter: drop-shadow(0px 10px 30px rgba(183, 183, 183, 0.1));
}
.foy-nav-link{
    padding: 15px 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #1A3447;
}
.foy-table tr td:first-child{
    padding-right:0px !important;
}
.foy-nav-pills li:first-child{

}
.foy-nav-pills li:last-child {
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid rgba(41, 163, 218, 0.1);
}
.foy-nav-pills li:first-child {
    border-radius: 10px 0px 0px 10px;
    border-left: 1px solid rgba(41, 163, 218, 0.1);
}

.foy-copy input#myInput {
height: 47px;
width: 65%;
text-align: center;
background: #FFFFFF;
border-radius: 10px 0 0 10px;
font-weight: 600;
font-size: 18px;
color: #1A3447;
background: #FFFFFF;
border: none;
border-radius: 6px 0px 0px 6px;
}
button.foy-copy-button {
font-weight: 600;
font-weight: 500;
font-size: 18px;
width: 35% !important;
color: #fff;
background: #29a3da;
width: 188px;
height: 47px;
border: none;
box-shadow: 5px 6px 30px rgb(41 163 218 / 20%);
border-radius: 0px 6px 6px 0px;
}
  /* accordion */

  .accordion-button:not(.collapsed)::after {
    display: none;
  }
  .accordion-button::after {
    display: none;
  }
  /* .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #29a3da;
    border: none;
  } */
  /* .foy-material .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #ffffff;
    border: none;
  } */
  .accordion-button:focus {
    border: none;
    box-shadow: none;
  }
  .accordion-item {
    border: none;
  }
  .accordion-item:last-of-type {
    border-radius: 15px;
  }
  .accordion-item:first-of-type {
    border-radius: 15px;
  }
  .accordion-item:first-of-type .accordion-button {
    border-radius: 15px 15px 0px 0px;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 15px;
  }
  .accordion-body {
    border: 1px solid rgba(41, 163, 218, 0.1);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 15px 40px rgb(183 183 183 / 12%);
  }
  .notice {
    border-radius: 6px;
    font-family: "Poppins";
    background: #29a3da;
    padding: 20px;
    border: none;
}
.notice-p {
    padding: 5px;
}
.notice-p a{
    color: #fff;
}
.notice-p:hover {
    border-bottom: 1px solid #fff;
}
.points, .due, .topic {
    width: 30%;
}
.topic-input {
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background: #f6f6f6;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.assign-bta {
    background: #29a3da;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.cda-date-p2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.cda-date-p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.accordion-item:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
.foy-link {
    color: #1a3447;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .foy-profile-name {
         display: none;
    }
    .foy-industry-card{
        width: 100%;
    }
    .industry-card{
        padding: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
    .foy-industry-card{
        width: 49%;
    }
}
/* submit page */
.industry-card {
    background: #ffffff;
    box-shadow: 5px 12px 50px rgb(181 180 180 / 15%);
    border-radius: 15px;
}
.id-title {
    font-size: 23px;
    color: #1a3447;
  }
  .id-title-dt {
    color: #1a3447;
    opacity: 0.6;
    font-size: 16px;
  }
  .id-title-dt-col {
    color: #29a3da;
  }
  .pt-bt {
    padding: 5px;
    height: 70px;
    background: #ffffff;
    box-shadow: 8.29231px 5.18269px 31.0962px rgb(41 163 218 / 15%);
    border-radius: 9.0459px;
    text-decoration: none;
    color: #1a3447;
    text-align: center;
  }
  .st-id-img {
    border: 3px solid #ffffff;
    filter: drop-shadow(3.85338px 4.81673px 4.81673px rgba(164, 164, 164, 0.2));
  }
  .up-lable{
    display: inline-block;
    border: 1px solid #29a3da;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .ac-button{
    display: inline-block;
    border: 1px solid #29a3da;
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 28px;
    background: #fff;
  }
  .sub-button{
    display: inline-block;
    border: none;
    width: 90%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 28px;
    background: #29A3DA;
    color: #fff;
  }
  .foy-as-dot{
      font-size: 10px;
  }

/* assignment submissions */
  .foy-text{
    font-weight: 600;
    font-size: 36px;
    align-items: center;
}
.foy-text2{
    font-weight: 500;
    font-size: 14px;
    color: #1A3447;
}
.foy-a-button{
background: #29A3DA;
color: #ffffff;
}
.foy-a-single-img{
box-shadow: 4px 4px 12px rgb(158 158 158 / 20%);
border-radius: 50%;
border: 2px solid white;
height: 44px;
width: 44px;
}
.foy-dot{
font-size: 6px;
color: #1A3447;
}

.foy-a-title{
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #1A3447;
}


.foy-at-bottom{
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #1A3447;
opacity: 0.6;
}
.foy-hr{
color: #29A3DA;
opacity: 0.2;
}

.foy-sa-an {
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #1A3447;
}

.foy-sa-ac{
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #1A3447;
opacity: 0.6;
}
.foy-table-status{
   font-size: 15px;
}
.foy-a-sc{
   padding:0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
   .foy-rounded-card{
       padding: 15px 10px;
   }
   .foy-rounded-card img.foy-at-img  {
       margin-right: 0px !important;
       height: 50px;
       width: 50px;
   }
   .foy-a-title {
       font-size: 18px;
       line-height: 18px;
   }
   .foy-at-bottom {
       font-size: 14px;
       line-height: 24px;
   }
   .foy-text {
       font-size: 25px;
   }
   .foy-a-dcard {
       padding: 10px;
   }
   .foy-text2 {
       font-size: 13px;
   }
   .foy-a-sc{
       gap: 6px !important;
   }
   .foy-s-nav{
       margin-top: 10px !important;
   }
   .foy-table tr td{
       padding-left: 6px !important;
   }
   .foy-table tr td:first-child{
       padding-right:0px !important;
   }
   .foy-tm{
       padding-right: 0px !important;
   }
   .foy-acastry-tr th{
       font-size: 14px;
   }
   .foy-table-image {
       height: 30px;
       width: 30px;
   }
   .table .foy-p {
       font-size: 15px;
       padding: 5px 0px 10px 35px!important;
   }
   .foy-tstar{
       height: 15px;
       width: 15px;
   }
   .foy-table-status {
       font-size: 12px;
   }
}



   /* assignmentSubmissions */

   .foy-exp-btn{
    background: #29A3DA;
    border-radius: 5px;
}
.foy-exp-btn h6{
    font-size: 14px !important;
    font-weight: 400;
    margin: 0px;
}
.foy-acastry-border{
    padding-bottom: 1.5rem !important;
    border-bottom: 1.5px solid #29A3DA !important;
}
.foy-top-rounded-card{
    box-shadow: 0px 5px 10px rgba(205, 205, 205, 0.08);
    border-radius: 15px 15px 0px 0px;
}
.foy-rounded-card{
    padding: 27px 44px;
    box-shadow: 0px 5px 10px rgba(205, 205, 205, 0.08);
    border-radius: 15px 15px 15px 15px;
}
.foy-acastry-tr th{
   font-weight: 400;
   font-size: 15px;
   color: #000000;
}
.table h6{
   margin: 0px;
}
.table p{
   margin: 0px;
}
.table .foy-p {
    color: #1A3447;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px 10px 50px!important;
}
.foy-table .form-control{
    padding: 0.25rem 0.1rem 0.25rem 0.25rem !important;
}
.foy-table-image{
    box-shadow: 4px 4px 12px rgba(158, 158, 158, 0.2) !important;

}
.foy-table td{
    border-right: 1px solid #29a3da54;
}
/* .foy-table td:nth-child('4'){
    border-right: none;
} */
.foy-table td:last-child{
    border-right: none;
    padding: 0px;
}
.foy-table td:nth-last-child(2){
    border-right: none;
}

.foy-a-head{
}
.foy-a-imgThumbContainer .foy-a-imgName{
    font-weight: 400;
    text-align:left;
    line-height: 18px;
    border: 2.5385px solid #FFFFFF;
    box-shadow: 4.23084px 4.23084px 12.6925px rgba(147, 147, 147, 0.1);
    font-size: 10px;
    padding: 3px 10px 0px 10px;
    margin: 0px;
    position: absolute;
    width: 59px;
    height: 57.84px;
    left: 0px;
    top: 0.08px;
}

.foy-a-an{
font-weight: 400;
font-size: 24px;
color: #1A3447;
text-align: left;
overflow: hidden;
padding: 6px 10px 0px 10px;
margin: 0px;
line-height: 15px;
}

.foy-a-attachment{
text-align:left;
padding: 0px 10px 7px 10px;
overflow: hidden;
margin: 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #1A3447;
opacity: 0.7;
}
.foy-a-dcard{
background: #FFFFFF;
box-shadow: 0px 11.6413px 29.1032px rgba(0, 0, 0, 0.05);
border-radius: 10.0186px;
}
/* .foy-text{
font-weight: 400;
font-size: 24px;
line-height: 28px;
align-items: center;
}
.foy-text2{
font-weight: 500;
font-size: 14px;
color: #1A3447;
} */
.foy-text{
font-weight: 600;
font-size: 36px;
align-items: center;
}
.foy-text2{
font-weight: 500;
font-size: 14px;
color: #1A3447;
}
.foy-a-button{
background: #29A3DA;
color: #ffffff;
}
.foy-a-single-img{
box-shadow: 4px 4px 12px rgb(158 158 158 / 20%);
border-radius: 50%;
border: 2px solid white;
height: 44px;
width: 44px;
}
.foy-dot{
font-size: 6px;
color: #1A3447;
}

.foy-a-title{
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #1A3447;
}


.foy-at-bottom{
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #1A3447;
opacity: 0.6;
}
.foy-hr{
color: #29A3DA;
opacity: 0.2;
}

.foy-sa-an {
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #1A3447;
}

.foy-sa-ac{
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #1A3447;
opacity: 0.6;
}
.foy-table-status{
font-size: 15px;
}
.foy-a-sc{
padding:0px;
}
.foy-a-dcard:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
.foy-top-rounded-card:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
.foy-rounded-card:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .foy-rounded-card{
    padding: 15px 10px;
    }
    .foy-rounded-card img.foy-at-img  {
    margin-right: 0px !important;
    height: 50px;
    width: 50px;
    }
    .foy-a-title {
    font-size: 18px;
    line-height: 18px;
    }
    .foy-at-bottom {
    font-size: 14px;
    line-height: 24px;
    }
    .foy-text {
    font-size: 25px;
    }
    .foy-a-dcard {
    padding: 10px;
    }
    .foy-text2 {
    font-size: 13px;
    }
    .foy-a-sc{
    gap: 6px !important;
    }
    .foy-s-nav{
    margin-top: 10px !important;
    }
    .foy-table tr td{
    padding-left: 6px !important;
    }
    .foy-table tr td:first-child{
    padding-right:0px !important;
    }
    .foy-tm{
    padding-right: 0px !important;
    }
    .foy-acastry-tr th{
    font-size: 14px;
    }
    .foy-table-image {
    height: 30px;
    width: 30px;
    }
    .table .foy-p {
    font-size: 15px;
    padding: 5px 0px 10px 35px!important;
    }
    .foy-tstar{
    height: 15px;
    width: 15px;
    }
    .foy-table-status {
    font-size: 12px;
    }

    .foy-progress {
        width: 70px;
        height: 1.2rem;
        font-size: .60rem;
    }
    .st-table-body {
        padding: 1rem 0rem !important;
    }
    .lvr {
        margin-right: 1rem !important;
    }
    .footer{
        justify-content: center !important;
    }
    .f-logo{
        justify-content: center !important;
    }
    .f-logo img{
        width: 70%;
        margin: 10px 0px 10px 0px;
    }
    .social-icon {
        width: 40px !important;
        height: 40px !important;
        font-size: 18px !important;
    }
    .f-rights{
        display: none !important;
    }
}
.iw-points, .iw-due, .iw-subject, .iw-keyword {
    width: 22%;
}



/* pias.css */
.text-block {
    position: absolute;
    top: 20px;
    left: 16px;
    color: aliceblue;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .image-block {
    position: absolute;
    top: 25%;
  }
  .footer-block {
    padding-left: 20px;
    padding-bottom: 7px;
  }
  .image1 {
    position: absolute;
  }
  .image2 {
    padding-left: 35px;
    padding-bottom: 5px;
  }
  .image3 {
    position: absolute;
    left: 50px;
  }
  .file-icons {
    padding-left: 170px;
  }
  .single-counter {
    font-size: 10px;
    height: auto;
    font-weight: bold;
  }

  .dropbtn {
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #e5e5e5;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .cards {
    padding-left: 100px;
    margin-left: 100px;
    /* size: 25px; */
    gap: 5px;
  }
  .single-counter {
    font-size: 10px;
    height: auto;
    font-weight: bold;
  }
  .dots {
    padding-left: 100px;
    padding-top: 30px;
  }
  .search-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 30px;
    gap: 10px;

    width: 800px;
    height: 60px;

    background: #f1f3f6;
    border-radius: 10px;
  }
  #search {
    width: 120px;
    height: 55px;
    margin-left: 8px;
  }

  head {
    font-family: "Poppins", sans-serif;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .dropbtn {
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #e5e5e5;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .cards {
    padding-left: 100px;
    margin-left: 100px;
    /* size: 25px; */
    gap: 5px;
  }
  .single-counter {
    font-size: 10px;
    height: auto;
    font-weight: bold;
  }
  .dots {
    padding-left: 100px;
    padding-top: 30px;
  }
  .search-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 30px;
    gap: 10px;

    width: 800px;
    height: 60px;

    background: #f1f3f6;
    border-radius: 10px;
  }
  #search {
    width: 120px;
    height: 55px;
    margin-left: 8px;
  }
  .id-title-classroom {
    color: #1a3447;
    opacity: 0.6;
    font-size: 13px;
}
.foy-link1 {
    color: #ffffff;
}
.foy-link1:hover {
    color: #dcf5ff;
}
.foy-empty{
    background: #ffffff;
    border: 1px solid rgba(41, 163, 218, 0.15);
    box-shadow: 5px 10px 35px rgba(181, 180, 180, 0.15);
    border-radius: 20px;
}
.foy-accordion {
    box-shadow: 0px 15px 40px rgb(183 183 183 / 12%);
}

.effect2
{
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow:  0px 0px 9px 3px rgb(109 109 109 / 14%);
}




/* footer */
.f-rights p {
    background: linear-gradient(to right, #00acea 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 0rem;
    font-weight: 500;
}
.social-icon {
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: 50px;  height: 50px;
    text-align: center;
    font-size: 25px;
    background: #fff;
    border-radius: 50%;
    margin-right: 12px;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
.social-icon:hover{
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%), 0 4px 8px rgb(0 0 0 / 6%);
}
.foy-icon{
    transform: rotateY(0deg);
    transition: .9s;
}
.fa-facebook-f{
    color: #3b5999;
}
.fa-twitter{
    color: #55acee;
}
.fa-linkedin-in{
    color: #0077B5;
}
.fa-github{
    color: #000000;
}
.social-icon:hover .foy-icon{
    transform: rotateY(360deg);
    color: #fff;
}

.social-icon::before{
    content: '';
    position: absolute;
    top: 100%;  left: 0;
    width: 100%;  height: 100%;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .9s;
}
.foy-facebook::before{
    background: #3b5999;
}
.foy-twitter::before{
    background: #55acee;
}

.foy-linkedin::before{
    background: #0077B5;
}
.foy-github::before{
    background: #000000;
}
.social-icon:hover::before{
    top: 0;
}


.notifications-dropdown .dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
    border-radius: 9px;
    overflow: hidden;
}

.notifications-dropdown .dropdown-menu-header {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 6px;
    background: #e74c3c;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 6px;
}

.notifications-dropdown .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 350px;
    white-space: inherit;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

.notifications-dropdown .dropdown-item:last-child {
	border-bottom: none;
}

.notifications-dropdown .dropdown-item small {
    color: #6f6f6f;
}

.notifications-dropdown a {
	color: #333;
	text-decoration: none;
	font-size: 14px;
    display: block;
    width: 100%;
    padding-top: 2px;
    padding-left: 8px;
}

.notifications-dropdown img {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 2px solid #e74c3c;
}

.notifications-dropdown-footer {
	text-align: center;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #e2e2e2;
    text-transform: uppercase;
}



